<button (click)="agregarPelicula()">Agregar película</button>
<br>


<app-listado-generico [listado]="peliculas">
  <ng-container contenido>
    @for (pelicula of peliculas; track $index) {
    <div class="contenedor-pelicula">
      <div style="display: flex; flex-direction: row; gap: 10px;">
        <div>
          @if (pelicula.poster) {
          <img [src]="pelicula.poster" width="169" height="250" alt="poster" />

          }@else {
          <img src="default.jpg" width="169" height="250" alt="" />
          }


        </div>
        <div>
          <h2>{{$index}} pelicula: {{pelicula.titulo }}</h2>
          <h3>fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MM-yyyy"}}</h3>
          <p>fecha lanzamiento: {{pelicula.precio | currency}}</p>
          <button mat-flat-button (click)="remover(pelicula)">Remover
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

    </div>
    }

  </ng-container>
</app-listado-generico>
