
@if (!peliculas) {
  <img src="loading.gif" alt="" />
  }
  @else if (peliculas.length===0)
  {
  <div>
    <p>
      No hay elementos para mostrar.
    </p>
  </div>
  }@else {

    @for (pelicula of peliculas; track $index) {
    <div class="contenedor-pelicula">
      <div style="display: flex; flex-direction: row; gap: 10px;">
        <div>
          <img [src]="pelicula.poster" width="169" height="250" alt="poster" />
        </div>
        <div>
          <h2>{{$index}} pelicula: {{pelicula.titulo }}</h2>
          <h3>fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MM-yyyy"}}</h3>
          <p>fecha lanzamiento: {{pelicula.precio | currency}}</p>

        </div>
      </div>

    </div>
    }
  }
